<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
  </configSections>
  <modules>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.Settings.dll" moduleType="XIMALAYA.PCDesktop.Modules.Settings, XIMALAYA.PCDesktop.Modules.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SettingsModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.MusicPlayer.dll" moduleType="XIMALAYA.PCDesktop.Modules.MusicPlayer, XIMALAYA.PCDesktop.Modules.MusicPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MusicPlayerModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.Menus.dll" moduleType="XIMALAYA.PCDesktop.Modules.Menus, XIMALAYA.PCDesktop.Modules.Menus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MenusModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.Search.dll" moduleType="XIMALAYA.PCDesktop.Modules.Search, XIMALAYA.PCDesktop.Modules.Search, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SearchModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.UserModule.dll" moduleType="XIMALAYA.PCDesktop.Modules.UserModule, XIMALAYA.PCDesktop.Modules.UserModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UserModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.Passport.dll" moduleType="XIMALAYA.PCDesktop.Modules.Passport, XIMALAYA.PCDesktop.Modules.Passport, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PassportModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.SoundModule.dll" moduleType="XIMALAYA.PCDesktop.Modules.SoundModule, XIMALAYA.PCDesktop.Modules.SoundModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SoundListModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="UserModule" />
      </dependencies>
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.AlbumModule.dll" moduleType="XIMALAYA.PCDesktop.Modules.AlbumModule, XIMALAYA.PCDesktop.Modules.AlbumModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AlbumListModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="UserModule" />
      </dependencies>
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.DiscoverModule.dll" moduleType="XIMALAYA.PCDesktop.Modules.DiscoverModule, XIMALAYA.PCDesktop.Modules.DiscoverModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DiscoverModule" startupLoaded="true">
    </module>
    <module assemblyFile="modules/XIMALAYA.PCDesktop.Modules.AboutModule.dll" moduleType="XIMALAYA.PCDesktop.Modules.AboutModule, XIMALAYA.PCDesktop.Modules.AboutModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AboutModule" startupLoaded="true">
    </module>
  </modules>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
</configuration>